@using Mvc_MusteriTakipUygulaması.Models
@model List<Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MusteriTakipLayout.cshtml";
}


<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Kullanıcı Listesi</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Marka</th>
                                    <th>Unvan</th>
                                    <th>Vergi Dairesi</th>
                                    <th>Web Sitesi</th>
                                    <th>Mail</th>
                                    <th>İmza Yetkilisi</th>
                                    <th>Tarih</th>
                                    <th style="text-align: center">Sil</th>
                                    <th style="text-align: center">Güncelle</th>
                                    <th style="text-align: center">Detaylar</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.OrderBy(x => x.Tarih))
                            {
                                <tbody>
                                    <tr>
                                        <td> @item.Marka </td>
                                        <td> @item.Unvan </td>
                                        <td> @item.VergiDairesi </td>
                                        <td style="text-transform: none"> @item.WebSitesi </td>
                                        <td style="text-transform: none"> @item.Email </td>
                                        <td> @item.ImzaYetkilisiAdiSoyadi1 </td>
                                        <td> @item.Tarih.ToShortDateString() </td>
                                        <td style="text-align: center"> <a asp-controller="Islemler" asp-action="DeleteClient" asp-route-id="@item.MusteriID" class="badge badge-danger">Sil</a> </td>     
                                        <td style="text-align: center"> <a asp-controller="Islemler" asp-action="GetClient" asp-route-id="@item.MusteriID" class="badge badge-complete">Güncelle</a> </td>          
                                        <td style="text-align: center"> <a asp-controller="Islemler" asp-action="ClientDetailTable" asp-route-id="@item.MusteriID" class="badge badge-info">Detaylar</a> </td>          
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                <a asp-controller="Islemler" asp-action="AddClient" class="btn btn-info mx-auto">Yeni Müşteri Ekle</a>

            </div>
        </div>
    </div>
</div>