@using Mvc_MusteriTakipUygulaması.Models
@model List<Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MusteriTakipLayout.cshtml";
}


<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Kullanıcı Listesi</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>Firma</th>
                                <th>Kullanıcı Adı</th>
                                <th>Şifre</th>
                                <th>Rolü</th>
                                <th style="text-align: center">Sil</th>
                                <th style="text-align: center">Güncelle</th>
                            </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tbody>
                                <tr>
                                    <td> @item.Name </td>
                                    <td> @item.Surname </td>
                                    <td> @item.Company </td>
                                    <td style="text-transform: none"> @item.UserName </td>
                                    <td style="text-transform: none"> @item.Password </td>
                                    <td> @item.AdminRole </td>
                                    <td style="text-align: center"> <a asp-controller="UserList" asp-action="DeleteUser" asp-route-id="@item.AdminID" class="badge badge-danger">Sil</a> </td>
                                    <td style="text-align: center"> <a asp-controller="UserList" asp-action="GetUser" asp-route-id="@item.AdminID" class="badge badge-complete">Güncelle</a> </td>
                                </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                <a asp-controller="UserList" asp-action="AddUser" class="btn btn-info mx-auto">Yeni Kullanıcı Ekle</a>

            </div>
        </div>
    </div>
</div>